{% extends "base.html" %}

{% block content %}

		<a href="/areas.html">Return to areas</a>
		<h1> {{titlehead}} {% if user == area.user %}
		(<a href="/editareas/{{area.id}}">edit</a>)
        (<a href="/deleteareas/{{area.id}}">delete</a>) {% endif %}</h1>
			<p>Name: {{area.name}}</p>
			<p>Description: {{area.desc}}</p>
			

			<p>Items in this area: {% if user == area.user %}
		(<a href="/addfound/area/{{area.id}}/">add</a>) {% endif %}</p>
			{% if founds %}
			<ul>
			{% for found in founds %}
				<li>
					<a href="/items/{{found.itemID.id}}.html">{{found.itemID.name}}</a> {% if user == area.user %}
		(<a href="/deletefound/{{found.id}}/">delete</a>) {% endif %}
				</li>
			{% endfor %}
			</ul>
			{% else %}
				<p>None</p>
			{% endif %}

			<p>Creatures in this area:</p>
			{% if creatures %}
			<ul>
			{% for creature in creatures %}
				<li>
					<a href="/creatures/{{creature.id}}.html">{{creature.name}}</a>
				</li>
			{% endfor %}
			</ul>
			{% else %}
				<p>None</p>
			{% endif %}

{% endblock %}

{% block footer %}
		<p>Area created by {{area.user}} on {{ area.date }}</p>
{% endblock %}