{% extends "base.html" %}

{% block content %}

		<a href="/areas.html">Return to areas</a>
		<h1> {{titlehead}} {% if user == area.user %}
		(<a href="/areas/edit/{{area.id}}">edit</a>)
        (<a href="/areas/delete/{{area.id}}">delete</a>) {% endif %}</h1>
			<p>Name: {{area.name}}</p>
			<p>Description: {{area.desc}}</p>
			

			<p>Items in this area: {% if user.username %}
		(<a href="/addfound/area/{{area.id}}/">add</a>) {% endif %}</p>
			{% if founds %}
			<ul>
			{% for found in founds %}
				<li>
					<a href="/items/{{found.itemID.id}}.html">{{found.itemID.name}}</a> {% if user == area.user %}
		(<a href="/deletefound/{{found.id}}/">delete</a>) {% endif %}
				</li>
			{% endfor %}
			</ul>
			{% else %}
				<p>None</p>
			{% endif %}

			<p>Creatures in this area:{% if user.username %}
		(<a href="/addencountered/area/{{area.id}}/">add</a>) {% endif %}</p>
			{% if encountereds %}
			<ul>
			{% for encountered in encountereds %}
				<li>
					<a href="/creatures/{{encountered.creature.id}}.html">{{encountered.creature.name}}</a> {% if user.username %}
		(<a href="/deleteencountered/{{encountered.id}}/">delete</a>) {% endif %}
				</li>
			{% endfor %}
			</ul>
			{% else %}
				<p>None</p>
			{% endif %}

{% endblock %}

{% block footer %}
		<p>Area created by {{area.user}} on {{ area.date }}</p>
{% endblock %}