<html>
	<head>
			<title> {{titlehead}} - {{creature.name}}</title>
	</head>
	<body>
		<a href="/creatures.html">Return to creatures</a>
		<h1> {{titlehead}} </h1>
			<p>Name: {{creature.name}}</p>
			<p>Description: {{creature.desc}}</p>
			<p>Unique: {% if creature.unique %}
							Yes
					   {% else %}
							No
						{% endif %}
			</p>


			<p>Souls: {{creature.souls}}<p>


			<p>Drops:</p>
			{% if drops %}
			<ul>
			{% for drop in drops %}
				<li>
					<a href="/items/{{drop.itemID.id}}.html">{{drop.itemID.name}}</a> - {{drop.dropRate}}%
				</li>
			{% endfor %}
			</ul>
			{% else %}
				<p>None</p>
			{% endif %}


			<p>Can be found in:</p>
			{% if areas %}
			<ul>
			{% for area in areas %}
				<li>
					<a href="/areas/{{area.id}}.html">{{area.name}}</a>
				</li>
			{% endfor %}
			</ul>
			{% else %}
				<p>Nowhere</p>
			{% endif %}
	</body>
</html>
