<html>
	<head>
			<title> {{titlehead}} - {{item.name}}</title>
	</head>
	<body>
		<a href="/items.html">Return to items</a>
		<h1> {{titlehead}} </h1>
			<p>Name: {{item.name}}</p>
			<p>Description: {{item.desc}}</p>
			<p>Class: <a href="/itemclasses/{{item.typeID.id}}.html">{{item.typeID.name}}</a></p>
			<p>The item can be found in:</p>
			{% if areas %}
			<ul>
			{% for area in areas %}
				<li>
					<a href="/areas/{{area.id}}.html">{{area.name}}</a>
				</li>
			{% endfor %}
			</ul>
			{% else %}
				<p>Nowhere</p>
			{% endif %}

			<p>The item is dropped by:</p>
			{% if drops %}
			<ul>
			{% for drop in drops %}
				<li>
					<a href="/creatures/{{drop.creatureID.id}}.html">{{drop.creatureID.name}}</a> - {{drop.dropRate}}%
				</li>
			{% endfor %}
			</ul>
			{% else %}
				<p>Nobody</p>
			{% endif %}
	</body>
</html>
