<html>
	<head>
			<title> {{titlehead}} - {{itemClass.name}}</title>
	</head>
	<body>
		<a href="/itemclasses.html">Return to item classes</a>
		<h1> {{titlehead}} </h1>
			<p>Name: {{itemClass.name}}</p>
			<p>Description: {{itemClass.desc}}</p>
			<p>Items in this class:</p>
			{% if items %}
				<ul>
				{% for item in items %}
					<li>
						<a href="/items/{{item.id}}.html">{{item.name}}</a>
					</li>
				{% endfor %}
				</ul>
			{% else %}
				<p>None</p>
			{% endif %}
	</body>
</html>
