{% extends "base.html" %}

{% block content %}

		<a href="/">Return to mainpage</a>
		<h1> {{titlehead}} {% if user.username and listUrl != 'itemclasses' %}
        (<a href="add{{listUrl}}/{{element.id}}">add</a>)
    {% endif %} </h1>
			<ul>
			{% for element in element_list %}
				<li>
					<a href="{{listUrl}}/{{element.id}}.html">{{element.name}}</a>
					{% if user == element.user and listUrl != 'itemclasses' %} - <a href="delete{{listUrl}}/{{element.id}}"> delete </a> {% endif %}
				</li>
			{% endfor %}
			</ul>

{% endblock %}

{% block footer %}
		<p>Web in development</p>
{% endblock %}