<html>
	<head>
			<title> {{titlehead}} </title>
	</head>
	<body>
		<a href="/">Return to mainpage</a>
		<h1> {{titlehead}} </h1>
			<p>Name: {{user.username}}</p>
			<!-- <a href="/user/{{user.username}}/additem/">Add item</a> -->
			<p>Items:</p>
			{% if userItems %}
				<ul>
				{% for userItem in userItems %}
					<li>
						<a href="/items/{{userItem.itemID.id}}.html">{{userItem.itemID.name}}</a> - {{userItem.quantity}}
					</li>
				{% endfor %}
				</ul>
			{% else %}
				<p>None</p>
			{% endif %}
	</body>
</html>
