#header
{
background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #B0B0B0),
    color-stop(1, #FFFFFF)
);
background-image: -o-linear-gradient(bottom, #B0B0B0 0%, #FFFFFF 100%);
background-image: -moz-linear-gradient(bottom, #B0B0B0 0%, #FFFFFF 100%);
background-image: -webkit-linear-gradient(bottom, #B0B0B0 0%, #FFFFFF 100%);
background-image: -ms-linear-gradient(bottom, #B0B0B0 0%, #FFFFFF 100%);
background-image: linear-gradient(to bottom, #B0B0B0 0%, #FFFFFF 100%);
}

#header h1
{
    margin: 0;
    padding: 10px;
    text-align: center;
}

#header p
{
    margin: 0;
    padding: 10px;
    text-align: right;
}

#content
{
    margin-left: 190px;
    padding: 10px;
}

#sidebar
{
    float: left;
    width: 190px;
    top:110px;
    bottom:0;
    position:absolute;

background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #FFFFFF),
    color-stop(1, #999999)
);
background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #999999 100%);
background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #999999 100%);
background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #999999 100%);
background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #999999 100%);
background-image: linear-gradient(to bottom, #FFFFFF 0%, #999999 100%);}

#footer
{
    margin: 0;
    padding: 10px;
    position:absolute;
    left: 50%;
    bottom:0;
}