html, body{     
    height: 100%; 
} 

#header h1
{
    margin: 0;
    padding: 10px;
    text-align: center;
}

#header p
{
    margin: 0;
    padding: 10px;
    text-align: right;
}

#content
{
    margin-left: 190px;
    padding: 10px;
}

#sidebar
{
    float: left;
    width: 190px;
    bottom:0;
}

#wrapper{    /* Original footer style: http://www.consultoriainnova.com/blog/css/footer-siempre-abajo-css/*/
    min-height: 100%;     
    height: auto !important;     
    height: 100%;     
    margin: 0 auto -70px;
} 

#footer, #push {
    margin: 0;
    padding: 10px;
    position:relative;
    left: 50%;
    bottom:0;

    height: 70px;
}